In [1]:
import pandas as pd , numpy as np , seaborn as sns , matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('d:part2.csv')
df.head(4)

,Unnamed: 0,Primary_applicant_age_in_years,Gender,Marital_status,Number_of_dependents,Housing,Years_at_current_residence,Employment_status,Has_been_employed_for_at_least,Has_been_employed_for_at_most,...,Months_loan_taken_for,Purpose,Principal_loan_amount,EMI_rate_in_percentage_of_disposable_income,Property,Has_coapplicant,Has_guarantor,Number_of_existing_loans_at_this_bank,Loan_history,high_risk_applicant
0,0,67,male,single,1,own,4,skilled employee / official,7,0,...,6,electronic equipment,1169000,4,real estate,0,0,2,critical/pending loans at other banks,0
1,1,22,female,divorced/separated/married,1,own,2,skilled employee / official,1,4,...,48,electronic equipment,5951000,2,real estate,0,0,1,existing loans paid back duly till now,1
2,2,49,male,single,2,own,3,unskilled - resident,4,7,...,12,education,2096000,2,real estate,0,0,1,critical/pending loans at other banks,0
3,3,45,male,single,2,for free,4,skilled employee / official,4,7,...,42,FF&E,7882000,2,building society savings agreement/life insurance,0,1,1,existing loans paid back duly till now,0

In [3]:
df['Loan_history'].unique()

array(['critical/pending loans at other banks',
       'existing loans paid back duly till now',
       'delay in paying off loans in the past',
       'no loans taken/all loans paid back duly',
       'all loans at this bank paid back duly'], dtype=object)

In [4]:
df['Marital_status'].unique()

array(['single', 'divorced/separated/married', 'divorced/separated',
       'married/widowed'], dtype=object)

In [5]:
df['Housing'].unique()

array(['own', 'for free', 'rent'], dtype=object)

In [6]:
df['Employment_status'].unique()

array(['skilled employee / official', 'unskilled - resident',
       'management / self-employed / highly qualified employee / officer',
       'unemployed / unskilled - non-resident'], dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
categorical_columns = ['Gender', 'Marital_status', 'Housing','Employment_status','Savings_account_balance','Purpose','Property','Loan_history']

label = le.fit_transform(df['Employment_status'])
df1 = df[categorical_columns].apply(le.fit_transform)

In [8]:
df.drop(categorical_columns,axis=1,inplace=True)

In [13]:
df2=pd.concat([df1,df],axis=1)

In [16]:
df2.drop(["Unnamed: 0","loan_application_id"],axis=1,inplace=True)

In [21]:
df2["high_risk_applicant"].value_counts()

0    700
1    300
Name: high_risk_applicant, dtype: int64

In [69]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

In [68]:
x=df2.iloc[:,0:-1]
y=df2["high_risk_applicant"]
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20)

In [70]:
model=LogisticRegression()

In [71]:
model.fit(x_train,y_train)

LogisticRegression()

In [73]:
y_pred = model.predict(x_test)

In [74]:
print(accuracy_score(y_pred,y_test))

0.715

In [75]:
### Second Model 
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train,y_train)
y_pred = model.predict(x_test)
print(accuracy_score(y_pred,y_test))

0.715